@{
    ViewBag.Title = "Index";
}

<link href="~/Content/MyStyle.css" rel="stylesheet" />
<script src="~/Scripts/Goods.js"></script>

<h2>Goods</h2>

<p>
    @Html.ActionLink("Add new good", "Add")
</p>

<input type="button" value="Show goods" id="loadGoods" />
<div id="goods"></div>