@{
    ViewBag.Title = "Index";
}

<h2>Goods</h2>
<script src="~/Scripts/Goods.js"></script>

<p>
    @Html.ActionLink("Add new good", "Add")
</p>

<input type="button" value="Show goods" id="loadGoods" />
<div id="goods"></div>